$bg_color1: rgba(152, 108, 242, 0.831);
$bg_color2: rgb(171, 164, 247);
$pagination_bg: rgba(199, 242, 216, 0.523);
body{
    background-color: $bg_color1;
}

[class*="navbar"]{
    margin-top: 2px;
    background-color: $bg_color2;
    border-radius: 10px 10px 0px 0px;
    
    
}
.num{
    background-color: $bg_color2;
    margin: 8px 0px;
    
}
[class*="jumbotron"]{
    background-color: $bg_color2;
}
[class*="page-link"]{
    background-color: $pagination_bg;
    border-color: rgba(175, 173, 177, 0);
    border-radius: 8px;
}