body {
  background-color: rgba(152, 108, 242, 0.831);
}

[class*="navbar"] {
  margin-top: 2px;
  background-color: #aba4f7;
  border-radius: 10px 10px 0px 0px;
}

.num {
  background-color: #aba4f7;
  margin: 8px 0px;
}

[class*="jumbotron"] {
  background-color: #aba4f7;
}

[class*="page-link"] {
  background-color: rgba(199, 242, 216, 0.523);
  border-color: rgba(175, 173, 177, 0);
  border-radius: 8px;
}
/*# sourceMappingURL=style.css.map */